body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--ff--primary);
  font-size: var(--fw--regular);
  background-color: var(--clr--yellow);
  color: var(--clr--dark-blue);
}
