@use "./util/" as u;

.card {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--clr--white);
  margin: 1rem;
  border-radius: 1rem;
  img {
    width: 100px;
    height: 100px;
  }

  p {
    text-align: center;
    width: 80%;
    transition: opacity 0.5s ease;
    font-size: 1rem;
  }

  button {
    cursor: pointer;
    border: none;
    background-color: var(--clr--yellow);
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
    font-weight: var(--fw--bold-);
    font-size: 1.5rem;

    &:hover {
      opacity: 0.8;
    }
  }

  @include u.breakpoints(medium) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 350px;

    button,
    p {
      width: 100%;
      font-size: 1rem;
    }
  }
}
